
/* Your CSS Code here. */
.container {
	background:purple;
	width:200px;
	border-left:5px solid green;
	padding:10px;
	color:white;
	font-size:20px;
/* 	font-weight:bold; */
	text-decoration: underline;
}
